body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fce4ec;
    color: #030303;
}

.category-page-container {
    padding: 20px;
}

.category-title {
    text-align: center;
    margin-bottom: 20px;
}

.category-title h1 {
    font-size: 2.5rem;
    color: #050505;
    font-weight: bold;
}

.items-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    justify-items: center;
}

.category-item {
    background-color: #ffffff;
    color: #333;
    border-radius: 6px;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
}

.category-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); 
}

.category-item img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 4px;
}

.category-item h3 {
    margin-top: 5px;
    font-size: 1.2rem;
    color: #ec6577;
    font-weight: bold;
    text-transform: capitalize;
    line-height: 1.4;
    margin-bottom: 5px;
}

.category-item p {
    font-size: 0.85rem;
    color: #616161;
    margin: 4px 0;
    line-height: 1.3;
    text-align: justify;
}

.category-item .price {
    font-size: 1rem;
    font-weight: bold;
    color: #000000;
    margin: 8px 0;
}

.category-item input[type="number"] {
    width: 60px;
    text-align: center;
    padding: 5px;
    margin-right: 6px;
    border: 1px solid #d81b60;
    border-radius: 4px;
    font-size: 0.85rem;
    color: #333;
}

.action-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    margin-top: 4px;
}

.add-to-cart-btn {
    background-color: #d81b60;
    color: #fff;
    border: none;
    border-radius: 6px; 
    padding: 6px 10px;
    cursor: pointer;
    font-size: 0.85rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.add-to-cart-btn:hover {
    background-color: #c2185b;
    transform: scale(1.05);
}

.auth-links a {
    color: #FFB6C1;
    text-decoration: none;
    font-weight: bold;
}

.auth-links a:hover {
    color: #FF8C94;
}

@media (max-width: 768px) {
    .category-item {
        width: 100%;
    }
}
