
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2b3b3; /* Rosa pêssego */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-page {
    background-color: rgba(92, 31, 31, 0.85); /* Preto com 85% de transparência */
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login-page h1 {
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 24px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-form label {
    color: #ffffff;
    font-size: 14px;
    text-align: left;
}

.login-form input {
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 14px;
}

.login-button {
    padding: 10px;
    background-color: #e68080; /* Rosa pêssego escuro */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #cc6060; /* Rosa mais escuro */
}

.login-page p {
    margin-top: 15px;
    color: #ffffff;
    font-size: 14px;
}

.login-page a {
    color: #e68080; /* Rosa pêssego escuro */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.login-page a:hover {
    color: #cc6060; /* Rosa mais escuro */
}
.error-message {
    color: #fa8072; /* Código hexadecimal para rosa salmão */
    font-size: 14px;
    margin-top: 5px;
    text-align: left;
    font-weight: bold;
}


@media (max-width: 768px) {
    .login-page {
        width: 100%;
        padding: 15px;
    }

    .login-page h1 {
        font-size: 20px;
    }

    .login-form input, .login-button {
        font-size: 14px;
        padding: 8px;
    }
}
